<div class="text-white">
  <h2 class="display-6 pb-3">Why Metal Roofing?</h2>

  <div class="info-container">
    <div class="info">
      <div class="text-center">
        <i class="bi bi-shield-shaded fs-2"></i>
        <p class="fw-semibold fs-4">Lifespan</p>
      </div>
      <p>
        A metal tile roof, if assembled as recommended by the specialists, must
        have the same lifetime as the construction that it was mounted on, at
        least 50-60 years. The metal roofing is resistant to rain, wind, snow,
        mold, so that the metal roof tile will not be affected.
      </p>
    </div>
    <div class="info">
      <div class="text-center">
        <i class="bi bi-feather fs-2"></i>
        <p class="fw-semibold fs-4">Weight</p>
      </div>
      <p>
        The strength and the light weight of metal tiles make them the favorite
        competitor for the title of best covering. Metal tiles are lightweight
        compared to shingles.
      </p>
    </div>
    <div class="info">
      <div class="text-center">
        <i class="bi bi-droplet fs-2"></i>
        <p class="fw-semibold fs-4">Tightness</p>
      </div>
      <p>
        The metal roofing modules grip system by overlap and securing with
        self-tapping screws ensure the perfect sealing and prevents water leaks
        under the covering.
      </p>
    </div>
    <div class="info">
      <div class="text-center">
        <i class="bi bi-fire fs-2"></i>
        <p class="fw-semibold fs-4">Fire Resistance</p>
      </div>
      <p>High degree of resistance to the propagation and spread of fire.</p>
    </div>
    <div class="info">
      <div class="text-center">
        <i class="bi bi-stars fs-2"></i>
        <p class="fw-semibold fs-4">Aesthetics</p>
      </div>
      <p>
        The roof should highlight the beauty of the building. The metal tile
        roofing is the only solution that offers a wide range of colors,
        materials and forms, so it adapts and fits any type of construction and
        integrates with the style of the community to which belongs.
      </p>
    </div>
  </div>
</div>
