.info-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 16px;
  gap: 8px;

  .info {
    width: calc(100% / 3 - 16px);

    @media screen and (max-width: 992px) {
      width: calc(100% / 2 - 16px);
    }

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}
