.navbar {
  width: 100%;
  z-index: 2;

  i {
    color: #f4592b;
  }

  .nav-link {
    cursor: pointer;
  }
}

.logo {
  height: 30px;
  object-fit: cover;
  width: auto;
}

.navbar-brand {
  color: #f4592b;
  text-shadow: 0px 5px 10px rgb(22, 44, 83, 0.5);
  // font-size: 16px;
}
