<ng-container *ngIf="!utils.isLoading()">
  <div class="about-us-container">
    <img
      src="/logo-no-bg.png"
      class="logo rounded logo-backdrop"
      alt="New Style Metal Roofing Logo"
    />

    <div class="text-white">
      <h1 class="display-4">About us</h1>
      <p class="lead mb-0">
        Locally owned and operated in NE Ohio, we take pride in our quality work
        and the quality of materials that we install. We provide metal tile
        roofing, standing seam roofing, gutters, and metal fencing. We only use
        the heavier 25 gauge in the materials installed. What sets us apart? We
        buy straight from the manufacturer, use a local crew to install at
        unbeatable prices, which are better than shingles most of the time, and
        offer higher quality and warranty.
      </p>
    </div>
  </div>

  <app-why-metal-info></app-why-metal-info>
  <app-gallery></app-gallery>
  <app-contact></app-contact>
</ng-container>
